.section {
  width: calc(100% - (70px * 2));
  padding: 110px 70px;
}

.section__theme_light {
  background-color: #272727;
  padding: 100px 70px;
}

.section__header {
  padding: 0;
  margin: 0 0 22px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.section__divider {
  margin: 0;
  border-color: #DADADA;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Breakpoint: 768px — 1279px. Medium-screen devices */
  .section {
    width: calc(100% - (50px * 2));
    padding: 90px 50px;
  }
  .section__header {
    margin: 0 0 23px 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  /* Breakpoint: 0px — 767px. Small-screen devices */
  .section {
    width: calc(100% - (18px * 2));
    padding: 70px 18px;
  }
  .section__header {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 28px 0;
  }
}

