.footer {
  width: calc(100% - (70px*2));
  padding: 70px 70px 20px 70px;
}

.footer__about {
  margin: 0;

  text-align: center;

  color: #8b8b8b;

  font-family: Inter;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.footer__divider {
  margin: 20px 0;

  border-color: #424242;
}

.footer__underline {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;

  text-align: right;

  color: #FFFFFF;

  font-family: Inter;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.footer__copyright {
  margin: 0;

  color: #FFFFFF;

  font-family: Inter;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
}

.footer__links {
  display: flex;
  flex-flow: row nowrap;

  margin: 0;
  padding: 0;

  list-style: none;

}

.footer__link-item {
  margin-right: 20px;
}

.footer__link-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  transition: opacity .2s;
  text-decoration: none;

  color: #FFFFFF;
}

.footer__link:hover {
  opacity: .8;
}

