.navtab {
  height: 36px;
  margin-bottom: 30px;

  border-radius: 10px;
}

.navtab__items {
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
}

.navtab__achor-link {
  margin-right: 10px;
}